PORT=
NODE_ENV=
DATABASE_URL='postgres://username:password@host:port/db'
REDIS_URL=redis://127.0.0.1:6379

JWT_SECRET=
JWT_EXPIRES_IN='7d'

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

RESEND_API_KEY=

FRONTEND_URL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=