PORT=
NODE_ENV=
DATABASE_URL='postgres://username:password@host:port/db'
REDIS_URL=redis://127.0.0.1:6379

JWT_SECRET=
JWT_EXPIRES_IN='7d'

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

FRONTEND_URL=